* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: #000;
    color: #fff;
}

h1 span {
    color: lime;
}
main.container {
    padding: 10px 0;
    margin: 10px 0;
}

main.container .input-sec {
    padding: 10px 0;
    margin: 5px 0;
}

main.container .input-sec input[type="text"] {
    padding: 10px 5px;
    width: 50%;
    outline: none;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 10px;

}

main.container .add {
    background-color: lime;
    width: 30px;
    height: 31px;
    outline: none;
    border: none;
    border-radius: 80px;
    color: #fff;
    font-weight: 400;
    box-shadow: 2px 1px 1px 0 rgb(150, 149, 149);
}

section.todoBody {
    margin: 20px 0;
}

section.todoBody div.todos {
    margin: 10px auto;
    border-bottom: 2px solid lime;
    width: 70%;
    
}

section.todoBody input[type="text"] {
    background: none;
    border: none;
    color: #fff;
    width: 50%;
    outline: none;
    font-size: 12px;

}

section.todoBody .editBtn {
    background: none;
    color: lime;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 12px;
}


section.todoBody .removeBtn {
    background: none;
    color: red;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 12px;
}