* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.container {
    width: 85%;
    margin: auto;
}

.input-sec {
    text-align: center;
}


section.todoBody {
    margin: 20px;
}
